<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jason_syf.loadapkandinstalllib">

    <application>
        <service android:name=".download.DownFileService" />
        <!--
          android:exported="false"
          在Activity中该属性用来标示：当前Activity是否可以被另一个Application的组件启动：
          true允许被启动；false不允许被启动。
          -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>
